<div class="container px-5 my-5">
    <form id="contactForm" data-sb-form-api-token="API_TOKEN">
        <div class="form-floating mb-3">
            <input class="form-control" id="email" type="email" placeholder="Email" data-sb-validations="required,email" />
            <label for="email">Email</label>
            <div class="invalid-feedback" data-sb-feedback="email:required">Email is required.</div>
            <div class="invalid-feedback" data-sb-feedback="email:email">Email Email is not valid.</div>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="passwort" type="text" placeholder="Passwort" data-sb-validations="required" />
            <label for="passwort">Passwort</label>
            <div class="invalid-feedback" data-sb-feedback="passwort:required">Passwort is required.</div>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" id="passwortWiederholen" type="text" placeholder="Passwort wiederholen" data-sb-validations="required" />
            <label for="passwortWiederholen">Passwort wiederholen</label>
            <div class="invalid-feedback" data-sb-feedback="passwortWiederholen:required">Passwort wiederholen is required.</div>
        </div>
        <div class="mb-3">
            <label class="form-label d-block">Datenschutzbestimmungen zustimmen</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" id="datenschutzbestimmungenAkzeptiert" type="checkbox" name="datenschutzbestimmungenZustimmen" data-sb-validations="required" />
                <label class="form-check-label" for="datenschutzbestimmungenAkzeptiert">Datenschutzbestimmungen akzeptiert</label>
            </div>
            <div class="invalid-feedback" data-sb-feedback="datenschutzbestimmungenZustimmen:required">One option is required.</div>
        </div>
        <div class="d-none" id="submitSuccessMessage">
            <div class="text-center mb-3">
                <div class="fw-bolder">Form submission successful!</div>
                <p>To activate this form, sign up at</p>
                <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
            </div>
        </div>
        <div class="d-none" id="submitErrorMessage">
            <div class="text-center text-danger mb-3">Error sending message!</div>
        </div>
        <div class="d-grid">
            <button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Submit</button>
        </div>
    </form>
</div>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

